---
layout: default
paginate:
  articles:
    per: 8
    sort: date desc
title: Articles
heading: Articles about life, faith, and other stuff.
subheading: Read them. Share them. Talk to someone about them. Do something with them.
---

<div class="jumbotron bg-blue">
  <div class="container">
    <h1 class="section-header text-white">{{ page.heading }}</h1>
    <p class="col-sm-6 col-sm-offset-3 white-faded">{{ page.subheading }}</p>
  </div>
</div>

<div class="container">
  <div data-card-deck class="card-deck">
    <div class="cards-4x">
      <div class="row">
      {% for post in page.articles.docs %}
        {% include _article-card.html collection="posts" %}
      {% endfor %}
      </div>
    </div>
  </div>
  {% include _pagination.html collection="articles" %}
</div>
